.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.noti-time {
    margin-right: 10px;
}

.noti-author {
    display: flex;
    margin-left: 10px;
}

.noti-info {
    display: flex;
}

.noti-navigation {
    text-align: center;
    padding: 1rem;
}
.display.desktop-position {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
}
.display.desktop-position .position-items{
    position: relative;
    margin: 5px;
    height: 40px;
    padding: 5% 5% 5% 15%;
    border: 2px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
}

.display.desktop-position .position-items:hover{
    border: 2px solid dodgerblue;
}

.display.desktop-position .position-items .item{
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: lightgray;
    z-index:3;
}
.display.desktop-position .position-items.top-left .item{
    top: 0;
    left: 0;
    margin: 5px 0 0 5px;
}

.display.desktop-position .position-items.top-right .item{
    top: 0;
    right: 0;
    margin: 5px 5px 0 0;
}

.display.desktop-position .position-items.bottom-right .item{
    bottom: 0;
    right: 0;
    margin: 0 5px 5px 0;
}

.display.desktop-position .position-items.bottom-left .item{
    bottom: 0;
    left: 0;
    margin: 0 0 5px 5px;
}

.display.desktop-position .position-items:has(.item.active){
    border: 2px solid dodgerblue;
}

